<h2>Test</h2>
<p> Check if text is a Resume </p>
<form action="{{ url_for('test') }}" method="post">
	
    <!-- <input type="text" name="Text" size="100" width="50"> Text <br> -->
    <textarea rows="10" cols="150" name="Text"></textarea>
    <br>
    <input type="submit">
</form>

<h2>Train</h2>
<p> Train the algorithm </p>
<form action="{{ url_for('train') }}" method="post">
	
    <textarea rows="10" cols="150" name="Text"></textarea>
    <!-- <input type="text" name="isTextResume"> -->
    <br>
    <p> is the text a valid resume? </p>
    <input type="radio" name="isTextResume" value="yes" checked> Yes<br>
  	<input type="radio" name="isTextResume" value="no"> No<br>
  	<br>
    <input type="submit">
</form>

